<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Plataforma de Análisis Inteligente</title>
</head>

<body>
    <main class="container">
        <header class="page-header">
            <h1 class="page-title">Plataforma de Análisis Inteligente</h1>
            <p class="page-description">Cargá un archivo y obtené un análisis automático de los datos.</p>
        </header>
        <form class="upload-form" method="POST" enctype="multipart/form-data" action="/upload">
            <label class="form-label" for="file"> Seleccioná un archivo </label>
            <div class="file-input-wrapper">
                <input class="file-input" type="file" id="file" name="file" required />
                <label class="custom-file-button" for="file" id="file-label"> Elegir archivo </label>
            </div>
            <button class="submit-button" type="submit" id="button">Analizar archivo</button>
        </form>
        <div class="loading-overlay hidden" id="loading">
            <div class="loading-box">
                <div class="spinner"></div>
                <p id="loading-text">Analizando archivo...</p>
            </div>
        </div>
        {% if kpis %}
        <div class="kpis">
            <h2 class="kpis-title">Análisis del archivo</h2>
            <div class="kpis-grid">
                <div class="kpi-card">
                    <p class="kpi_titulo">Total Ingresos</p>
                    <p class="kpi_valor">{{ kpis.total_ingresos }}</p>
                </div>
                <div class="kpi-card">
                    <p class="kpi_titulo">Total Gastos</p>
                    <p class="kpi_valor">{{ kpis.total_gastos }}</p>
                </div>
                <div class="kpi-card">
                    <p class="kpi_titulo">Balance</p>
                    <p class="kpi_valor">{{ kpis.balance }}</p>
                </div>
            </div>
        </div>
        <h2 class="data-table-title">Visualización de los datos</h2>
        <div class="data-table">
            {{ df_visual|safe }}
        </div>
        {% endif %}
    </main>
</body>

<script src="/static/js/main.js"></script>

</html>